.icon { background: #fff url('icons/icons.png') no-repeat top left} 
.icon.icon-1 { background-position: 0px 0px;  } 
.icon.icon-2 { background-position: -74px 0px;  } 
.icon.icon-3 { background-position: -148px 0px;  } 
.icon.icon-4 { background-position: -222px 0px;  } 
.icon.icon-5 { background-position: -296px 0px;  } 
.icon.icon-6 { background-position: -370px 0px;  } 
.icon.icon-7 { background-position: -444px 0px;  } 
.icon.icon-8 { background-position: -518px 0px;  } 
.icon.icon-9 { background-position: -592px 0px;  } 
.icon.icon-10 { background-position: -666px 0px;  } 
.icon.icon-11 { background-position: -740px 0px;  } 
.icon.icon-12 { background-position: -814px 0px;  } 
.icon.icon-13 { background-position: -888px 0px;  } 
.icon.icon-14 { background-position: -962px 0px;  } 
.icon.icon-15 { background-position: -1036px 0px;  } 
.icon.icon-16 { background-position: -1110px 0px;  } 
.icon.icon-17 { background-position: -1184px 0px;  } 
.icon.icon-18 { background-position: -1258px 0px;  } 
.icon.icon-19 { background-position: -1332px 0px;  } 
.icon.icon-20 { background-position: -1406px 0px;  } 
.icon.icon-21 { background-position: -1480px 0px;  } 
.icon.icon-22 { background-position: -1554px 0px;  } 
.icon.icon-23 { background-position: -1628px 0px;  } 
.icon.icon-24 { background-position: -1702px 0px;  } 
.icon.icon-25 { background-position: -1776px 0px;  } 
.icon.icon-26 { background-position: -1850px 0px;  } 
.icon.icon-27 { background-position: -1924px 0px;  } 
.icon.icon-28 { background-position: -1998px 0px;  } 
.icon.icon-29 { background-position: -2072px 0px;  } 
.icon.icon-30 { background-position: -2146px 0px;  } 
.icon.icon-31 { background-position: -2220px 0px;  } 
.icon.icon-32 { background-position: -2294px 0px;  } 
.icon.icon-33 { background-position: -2368px 0px;  } 
.icon.icon-34 { background-position: -2442px 0px;  } 
.icon.icon-35 { background-position: -2516px 0px;  } 
.icon.icon-36 { background-position: -2590px 0px;  } 
.icon.icon-37 { background-position: -2664px 0px;  } 
.icon.icon-38 { background-position: -2738px 0px;  } 
.icon.icon-39 { background-position: -2812px 0px;  } 
.icon.icon-40 { background-position: -2886px 0px;  } 
.icon.icon-41 { background-position: -2960px 0px;  } 
.icon.icon-42 { background-position: -3034px 0px;  } 
.icon.icon-43 { background-position: -3108px 0px;  } 
.icon.icon-45 { background-position: -3182px 0px;  } 
.icon.icon-44 { background-position: -3256px 0px;  } 
.icon.icon-46 { background-position: -3330px 0px;  } 
.icon.icon-47 { background-position: -3404px 0px;  } 
.icon.icon-48 { background-position: -3478px 0px;  } 
.icon.icon-49 { background-position: -3552px 0px;  } 
.icon.icon-50 { background-position: -3626px 0px;  } 
.icon.icon-52 { background-position: -3700px 0px;  } 
.icon.icon-51 { background-position: -3774px 0px;  } 
.icon.icon-53 { background-position: -3848px 0px;  } 
.icon.icon-55 { background-position: -3922px 0px;  } 
.icon.icon-56 { background-position: -3996px 0px;  } 
.icon.icon-54 { background-position: -4070px 0px;  } 
.icon.icon-57 { background-position: -4144px 0px;  } 
.icon.icon-58 { background-position: -4218px 0px;  } 
.icon.icon-59 { background-position: -4292px 0px;  } 
.icon.icon-60 { background-position: -4366px 0px;  } 
.icon.icon-61 { background-position: -4440px 0px;  } 
.icon.icon-63 { background-position: -4514px 0px;  } 
.icon.icon-62 { background-position: -4588px 0px;  } 
.icon.icon-64 { background-position: -4662px 0px;  } 
.icon.icon-66 { background-position: -4736px 0px;  } 
.icon.icon-65 { background-position: -4810px 0px;  } 
.icon.icon-68 { background-position: -4884px 0px;  } 
.icon.icon-69 { background-position: -4958px 0px;  } 
.icon.icon-70 { background-position: -5032px 0px;  } 
.icon.icon-67 { background-position: -5106px 0px;  } 
.icon.icon-71 { background-position: -5180px 0px;  } 
.icon.icon-72 { background-position: -5254px 0px;  } 
.icon.icon-73 { background-position: -5328px 0px;  } 
.icon.icon-74 { background-position: -5402px 0px;  } 
.icon.icon-75 { background-position: -5476px 0px;  } 
.icon.icon-76 { background-position: -5550px 0px;  } 
.icon.icon-77 { background-position: -5624px 0px;  } 
.icon.icon-78 { background-position: -5698px 0px;  } 
.icon.icon-80 { background-position: -5772px 0px;  } 
.icon.icon-81 { background-position: -5846px 0px;  } 
.icon.icon-79 { background-position: -5920px 0px;  } 
.icon.icon-82 { background-position: -5994px 0px;  } 
.icon.icon-83 { background-position: -6068px 0px;  } 
.icon.icon-84 { background-position: -6142px 0px;  } 
.icon.icon-85 { background-position: -6216px 0px;  } 
.icon.icon-86 { background-position: -6290px 0px;  } 
.icon.icon-87 { background-position: -6364px 0px;  } 
.icon.icon-88 { background-position: -6438px 0px;  } 
.icon.icon-89 { background-position: -6512px 0px;  } 
.icon.icon-90 { background-position: -6586px 0px;  } 
.icon.icon-91 { background-position: -6660px 0px;  } 
.icon.icon-92 { background-position: -6734px 0px;  } 
.icon.icon-93 { background-position: -6808px 0px;  } 
.icon.icon-95 { background-position: -6882px 0px;  } 
.icon.icon-94 { background-position: -6956px 0px;  } 
.icon.icon-96 { background-position: -7030px 0px;  } 
.icon.icon-100 { background-position: -7104px 0px;  } 
.icon.icon-101 { background-position: -7178px 0px;  } 
.icon.icon-102 { background-position: -7252px 0px;  } 
.icon.icon-98 { background-position: -7326px 0px;  } 
.icon.icon-104 { background-position: -7400px 0px;  } 
.icon.icon-97 { background-position: -7474px 0px;  } 
.icon.icon-103 { background-position: -7548px 0px;  } 
.icon.icon-105 { background-position: -7622px 0px;  } 
.icon.icon-99 { background-position: -7696px 0px;  } 
.icon.icon-106 { background-position: -7770px 0px;  } 
.icon.icon-107 { background-position: -7844px 0px;  } 
.icon.icon-108 { background-position: -7918px 0px;  } 
.icon.icon-110 { background-position: -7992px 0px;  } 
.icon.icon-109 { background-position: -8066px 0px;  } 
.icon.icon-111 { background-position: -8140px 0px;  } 
.icon.icon-112 { background-position: -8214px 0px;  } 
.icon.icon-113 { background-position: -8288px 0px;  } 
.icon.icon-114 { background-position: -8362px 0px;  } 
.icon.icon-116 { background-position: -8436px 0px;  } 
.icon.icon-115 { background-position: -8510px 0px;  } 
.icon.icon-117 { background-position: -8584px 0px;  } 
.icon.icon-118 { background-position: -8658px 0px;  } 
.icon.icon-120 { background-position: -8732px 0px;  } 
.icon.icon-121 { background-position: -8806px 0px;  } 
.icon.icon-122 { background-position: -8880px 0px;  } 
.icon.icon-119 { background-position: -8954px 0px;  } 
.icon.icon-123 { background-position: -9028px 0px;  } 
.icon.icon-124 { background-position: -9102px 0px;  } 
.icon.icon-125 { background-position: -9176px 0px;  } 
.icon.icon-126 { background-position: -9250px 0px;  } 
.icon.icon-127 { background-position: -9324px 0px;  } 
.icon.icon-128 { background-position: -9398px 0px;  } 
.icon.icon-129 { background-position: -9472px 0px;  } 
.icon.icon-130 { background-position: -9546px 0px;  } 
.icon.icon-131 { background-position: -9620px 0px;  } 
.icon.icon-132 { background-position: -9694px 0px;  } 
.icon.icon-133 { background-position: -9768px 0px;  } 
.icon.icon-134 { background-position: -9842px 0px;  } 
.icon.icon-135 { background-position: -9916px 0px;  } 
.icon.icon-136 { background-position: -9990px 0px;  } 
.icon.icon-137 { background-position: -10064px 0px;  } 
.icon.icon-138 { background-position: -10138px 0px;  } 
.icon.icon-139 { background-position: -10212px 0px;  } 
.icon.icon-140 { background-position: -10286px 0px;  } 
.icon.icon-141 { background-position: -10360px 0px;  } 
.icon.icon-143 { background-position: -10434px 0px;  } 
.icon.icon-142 { background-position: -10508px 0px;  } 
.icon.icon-145 { background-position: -10582px 0px;  } 
.icon.icon-146 { background-position: -10656px 0px;  } 
.icon.icon-147 { background-position: -10730px 0px;  } 
.icon.icon-148 { background-position: -10804px 0px;  } 
.icon.icon-149 { background-position: -10878px 0px;  } 
.icon.icon-151 { background-position: -10952px 0px;  } 
.icon.icon-150 { background-position: -11026px 0px;  } 
.icon.icon-152 { background-position: -11100px 0px;  } 
.icon.icon-153 { background-position: -11174px 0px;  } 
.icon.icon-155 { background-position: -11248px 0px;  } 
.icon.icon-156 { background-position: -11322px 0px;  } 
.icon.icon-157 { background-position: -11396px 0px;  } 
.icon.icon-158 { background-position: -11470px 0px;  } 
.icon.icon-159 { background-position: -11544px 0px;  } 
.icon.icon-154 { background-position: -11618px 0px;  } 
.icon.icon-160 { background-position: -11692px 0px;  } 
.icon.icon-162 { background-position: -11766px 0px;  } 
.icon.icon-161 { background-position: -11840px 0px;  } 
.icon.icon-163 { background-position: -11914px 0px;  } 
.icon.icon-165 { background-position: -11988px 0px;  } 
.icon.icon-164 { background-position: -12062px 0px;  } 
.icon.icon-166 { background-position: -12136px 0px;  } 
.icon.icon-167 { background-position: -12210px 0px;  } 
.icon.icon-168 { background-position: -12284px 0px;  } 
.icon.icon-169 { background-position: -12358px 0px;  } 
.icon.icon-170 { background-position: -12432px 0px;  } 
.icon.icon-144 { background-position: -12506px 0px;  } 
.icon.icon-171 { background-position: -12580px 0px;  } 
.icon.icon-172 { background-position: -12654px 0px;  } 
.icon.icon-173 { background-position: -12728px 0px;  } 
.icon.icon-175 { background-position: -12802px 0px;  } 
.icon.icon-174 { background-position: -12876px 0px;  } 
.icon.icon-176 { background-position: -12950px 0px;  } 
.icon.icon-177 { background-position: -13024px 0px;  } 
.icon.icon-178 { background-position: -13098px 0px;  } 
.icon.icon-179 { background-position: -13172px 0px;  } 
.icon.icon-181 { background-position: -13246px 0px;  } 
.icon.icon-180 { background-position: -13320px 0px;  } 
.icon.icon-182 { background-position: -13394px 0px;  } 
.icon.icon-183 { background-position: -13468px 0px;  } 
.icon.icon-184 { background-position: -13542px 0px;  } 
.icon.icon-185 { background-position: -13616px 0px;  } 
.icon.icon-186 { background-position: -13690px 0px;  } 
.icon.icon-188 { background-position: -13764px 0px;  } 
.icon.icon-187 { background-position: -13838px 0px;  } 
.icon.icon-189 { background-position: -13912px 0px;  } 
.icon.icon-190 { background-position: -13986px 0px;  } 
.icon.icon-191 { background-position: -14060px 0px;  } 
.icon.icon-192 { background-position: -14134px 0px;  } 
.icon.icon-193 { background-position: -14208px 0px;  } 
.icon.icon-194 { background-position: -14282px 0px;  } 
.icon.icon-195 { background-position: -14356px 0px;  } 
.icon.icon-197 { background-position: -14430px 0px;  } 
.icon.icon-196 { background-position: -14504px 0px;  } 
.icon.icon-198 { background-position: -14578px 0px;  } 
.icon.icon-199 { background-position: -14652px 0px;  } 
.icon.icon-200 { background-position: -14726px 0px;  } 